#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


database:
	dsn: 'mysql:host=wm94.wedos.net;dbname=d107931_sos'
	user: w107931_sos
	password: BlaBru.2014
	options:
		lazy: yes

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\SignFormFactory
	- App\Factory\AuthorizatorFactory::create
	router: App\RouterFactory::createRouter
	article: App\Model\Article
	document: App\Model\Document
	menu: App\Model\Menu
	event: App\Model\Event
	ticket: App\Model\Ticket
	registration: App\Model\Registration
	contact: App\Model\Contact
	database: @Nette\Database\Context

