<!DOCTYPE html>
{**
* @param string   $basePath web base path
* @param array    $flashes  flash messages
*}
<html lang="cs" xmlns:n="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">


    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{ifset title}{include title|striptags} | {/ifset}SOS</title>

    <!-- Bootstrap Core CSS -->
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Wellfleet&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Own CSS -->
    <link href="{$basePath}/css/front.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {block scripts}
    <!-- jQuery -->
    <script src="{$basePath}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$basePath}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    {/block}


</head>

<body>

<!-- Navigation -->
<div class="container-fluid stave-lines">
        <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6">
            <a n:href="Homepage:default">
                <img src="{$basePath}/vectors/corner-logo.svg" class="corner-logo" />
            </a>
        </div>
        <div class="col-lg-9 col-md-10 col-sm-4 col-xs-6 menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 menu-item">
                        <a n:href="Event:default" {if $presenter->getName() == 'Front:Event'} class="active"{/if}>Akce</a>
                    </div>
                    {foreach $menus as $menu}
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 menu-item">
                        {if $menu->url}
                        <a href="{$menu->url}">{$menu->name}</a>
                        {elseif $menu->article}
                        <a n:href="Article:show $menu->id"{if isset($selectedMenu) && $selectedMenu && ($selectedMenu->id == $menu->id || ($selectedMenu->menu && $selectedMenu->menu->id == $menu->id))} class="active"{/if}>{$menu->name}</a>
                        {else}
                        <a href="#">{$menu->name}</a>
                        {/if}
                    </div>
                    {/foreach}
                </div>
                {if isset($selectedMenu)}
                <div class="row" style="margin-top:25px;">
                    {foreach $selectedMenu->related('menu')->limit(6) as $subMenu}
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 menu-item">
                            {if $subMenu->url}
                            <a href="{$subMenu->url}">{$subMenu->name}</a>
                            {elseif $subMenu->article}
                            <a n:href="Article:show $subMenu->id" {if isset($selectedSubMenu) && $selectedSubMenu && ($selectedSubMenu->id == $subMenu->id || ($selectedSubMenu->menu && $selectedSubMenu->menu->id == $subMenu->id))} class="active"{/if}>{$subMenu->name}</a>
                            {else}
                            <a href="#">{$subMenu->name}</a>
                            {/if}
                        </div>
                    {/foreach}
                </div>
                {/if}
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-xs-12 social-media">
            <div class="col-lg-4 col-md-1 col-sm-1 col-xs-4 social-media-item">
                <a href="https://www.youtube.com/channel/UCVX4KoxGsMUFKxQGCcNxtdA"><img src="{$basePath}/img/social_ic2.png" /></a>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xs-4 social-media-item">
                <a href="https://www.facebook.com/hudebnisos?fref=ts"><img src="{$basePath}/img/social_ic1.png" /></a>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xs-4 social-media-item">
                <a href="mailto:liskovamaj@gmail.com"><img src="{$basePath}/img/social_ic3.png" /></a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container">
    <div n:if="count($flashes)>0" id="flashmessages">
        <div n:foreach="$flashes as $flash" class='alert alert-{$flash->type} alert-dismissible' role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {$flash->message|noescape}
        </div>
    </div>
</div>

{block content}{/block}


<div class="clearfix"></div>
<div class="container-fluid stave-lines menu">
    <div class="row">
        <div class="col-lg-12 menu-item scroll-on-top">
            <a href="#top" class="pull-right">Nahoru</a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>autorka Marie Lišková liskovamaj@gmail.com | web Vladimír Mlázovský 2015 </p>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $("a[href='#top']").click(function() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    });
</script>

</body>
</html>