{block content}
    <h1>Dokumenty</h1>
    <h2 n:block=title>Přejmenovat dokument</h2>

    {control renameForm}

    <hr />
    <a n:href="default" class="btn btn-default pull-right">Zrušit</a>
{/block}