/* ---------------------------------------
 * Muj design
 * Original design for BohemiaIngress webpages !
 * FIGHT THE RESISTANCE!
 * Fuck them
 *
 */
section { min-height: 100vh;}

.article {border: 2px solid white; }


.category {
    border: 2px solid white;
    background: #122 url('../img/noisy-texture.png');
    padding: 0 0 0 0;
}

.category-header {
    background-color: white;
    color:#333;
    margin: -5px 0 0 0;
    text-shadow: -1px -1px 0 #EEE, 1px 1px 0 #DDD;
}
.category-body {
    background-color: transparent;
    height: 200px;
    text-align: left;
    margin: 5px 15px 5px 15px
}

.article {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

#rules .article {
    background: #444 url('../img/noisy-texture.png');
    color: white;
}

article {
    background-color: #FFFFFF;
    padding: 30px 4% 30px 4%;
    color: #333;
}

article a {
    color: darkorange;
    text-shadow: 0 0 3px rgba(255,200,0, 0.3);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

article a:hover,
article a:focus {
    text-decoration: none;
    color: firebrick;
}

article p {
    font-size: medium;
}

section#article {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 200;
}

section#article h2 {
    text-transform: none;
    margin: 0 0 7px 0;
}


article.about-author {
    background-color: #f5f5f5;
    border-top: 1px solid silver;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.3);
}

.about-author .ENL { color: forestgreen}
.about-author .RES { color: royalblue}
.about-author .RED { color: firebrick}
.about-author .BAN { color: #c0c0c0}


.about-author img.avatar {
    width: 100%;
}

.about-author .ingress-name {
    text-align: center;
}
.about-author .ingress-level {
    text-align: center;
}
.about-author .role {
    text-align: center;
}

.about-author .category {
    font-weight: bold;
    text-transform: uppercase;
    background: #7000aa none;
    color: #ffffff;
    padding: 1px 3px 1px 3px;
    display: inline-block;
    border-radius: 0.6em;
    font-size: x-small;
}

div.navesti {
    border-top: 1px solid rgba(128,128,128,0.2);
}

.related-posts {
    box-shadow: 0 0 5px rgba(34,34,34,0.32);
}