/* ---------------------------------------
 * SOS design
 */

* {
    font-family: 'Georgia', serif;
}

.stave-lines {
    background-color: white;
    background-image: url('../img/stave-lines-bg.png');
    background-repeat: repeat-x;
    background-size: auto 120px;
    height: 130px;
    padding-top: 15px;
}

.stave-lines .white-background {
    width: 200px;
    height: 200px;
    border-right: 10px solid white;
    border-left: 10px solid white;
    overflow: hidden;
    background-color: white;
    margin-left: -15px;
    text-align: center;
}

.stave-lines .green-background, .stave-lines .orange-background {
    border-right: 10px solid white;
    height: 107px;
    overflow: hidden;
}

.stave-lines .green-background {
    background-color: rgb(197, 230, 235);
}

.stave-lines .orange-background {
    background-color: rgb(250, 216, 199);
}
.stave-lines .white-background img {
    min-height: 115px;
    min-width: 180px;
    width: 100%;
}

img.corner-logo {
    margin-top: 8px;
    height: 110px;background-color: white;
    padding: 5px 5px 5px 5px;
}


.menu {
    font-size: 18px;
}

.menu .menu-item {
    text-align: center;
}

.scroll-on-top {
    padding-top: 50px
}

@media (min-width: 992px) {
    .menu {
        padding-top: 50px;
    }
    .scroll-on-top {
        padding-top: 0px
    }
}


.menu .menu-item a {
    background-color: white;
    padding: 2px 5px 2px 10px;
    line-height: 24px;
    color: rgb(107, 192, 192);
    white-space: nowrap;
    font-family: 'Wellfleet', 'Arial', sans-serif;
}

@media (min-width: 1200px) {
    .social-media-item:nth-child(1) {
        margin-top: 10px;
    }
    .social-media-item:nth-child(2) {
        margin-top: 50px;
    }
    .social-media-item:nth-child(3) {
        margin-top: 30px;
    }
}

.main-logo {
    margin-top: 20px;
}

.motto {
    font-family: 'Wellfleet', 'Arial', sans-serif;
    font-weight: bold;
    color: #6bc0c0;
    text-align: center;
}

.motto p {
    font-family: 'Wellfleet', 'Arial', sans-serif;
    color: #6bc0c0;
    font-size: 11px;
}

.motto h2 {
    font-size: 13px;
    font-weight: bold;
    color: #007576;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .motto {
        letter-spacing: 1px;
    }
    .motto h2 {
        font-size: 20px;
    }
    .motto p {
        font-size: 12px;
    }
}

.article, .event-thumbnail {
    margin-top: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(197, 230, 235);
    font-family: 'Georgia', serif;
    line-height: 17px;
    color: rgb(0, 117, 117);
    letter-spacing: 0.3px;
    font-size: 12px;
}

.article img {
    margin-bottom:10px;
    margin-right: 10px;
    padding: 2px 2px 2px 2px;
    background-color: white;
    border: 1px solid rgb(0, 192, 192);
}

h1, h2, h3 {
    color: rgb(226, 9, 25);
}

h1 {
    font-size: 15px;
}
h2 {
    font-size: 13px;
}
h3 {
    font-size: 12px;
}

.event-thumbnail h1, .event-thumbnail h2, .event-thumbnail h3 {
    margin-top: 3px;
    pargin-bottom: 6px;
}

img.article-main-image {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
}

.social-media-item img {
    width: 40px;
}

.menu a.active {
    color: firebrick;
}

.event-thumbnail {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: transparent;
    overflow: auto;
}

.article a, .event-thumbnail a {
    color: firebrick;
    text-decoration: none;
}

.article a:hover, .event-thumbnail a:hover {
    color: firebrick;
    text-decoration: underline;
}

h2.event-group {
    font-family: 'Wellfleet', 'Arial', sans-serif;
    color: #333;
}

.green-background .event-thumbnail .tools a {
    color: #007576;
    font-family: "Helvetica Neue", "Montserrat", 'Helvetica', 'Arial', sans-serif;
    transition: color 0.8s;
}

.green-background .event-thumbnail .tools a:hover {
    color: #004099;
    text-decoration: none;
}

.orange-background .event-thumbnail .tools a {
    color: rgb(226, 9, 25);
    font-family: "Helvetica Neue", "Montserrat", 'Helvetica', 'Arial', sans-serif;
    transition: color 0.8s;
}

.orange-background .event-thumbnail .tools a:hover {
    color: rgb(200, 9, 40);
    text-decoration: none;
}

.orange-background .event-thumbnail .tools {
    padding-right: 45px;
}

.event-thumbnail .tools img.sos-flag {
    height: 40px;
    margin-top: -5px;
    padding-right: -5px;
}

.green-background, .orange-background {
    padding-right: 0px;
}


