.ENL {color: lawngreen; text-shadow: 0px 0px 3px rgba(60,255,15, 0.3)}
.RES {color: royalblue; text-shadow: 0px 0px 3px rgba(60,15,255, 0.3)}
.CROSS {color: #3DD; text-shadow: 0px 0px 3px rgba(60,128, 128, 0,3)}
