{block content}
<div class="container-fluid article">
    <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <img
                class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-left article-main-image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Nicola_Antonio_Zingarelli.jpg/225px-Nicola_Antonio_Zingarelli.jpg"
                />
        {$article->text|noescape}

    </div>
</div>

{/block}