{block content}
<h1>Newsletter</h1>
<h2 n:block=title>Odeslat hromadnou zprávu</h2>

<p>Na této stránce opatrně. Odesílanou zprávu si raději 3x zkontroluj, protože po odeslání se to již nedá vzít zpět.</p>

{control newsletterForm}

<hr />
<a n:href="default" class="btn btn-default pull-right">Zrušit</a>

{/block}